<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card animated zoomIn">
          <div class="card-header bg-warning text-white">
            <h3>Update Employee</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="updateEmployee()">
              <div class="form-group">
                <input [(ngModel)]="employee.first_name" type="text" class="form-control" placeholder="First Name" name="firstname">
              </div>
              <div class="form-group">
                <input [(ngModel)]="employee.last_name" type="text" class="form-control" placeholder="Last Name" name="lastname">
              </div>
              <div class="form-group">
                <input [(ngModel)]="employee.email" type="email" class="form-control" placeholder="Email" name="email">
              </div>
              <div class="form-group">
                <select [(ngModel)]="employee.gender" class="form-control" name="gender">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <input [(ngModel)]="employee.ip_address" type="text" class="form-control" placeholder="IP Address" name="ipaddress">
              </div>
              <div>
                <input type="submit" class="btn btn-warning" value="update Employee">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
