<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Employee Portal App</h1>
        <p class="h2">A FullStack Application (MEAN Stack)</p>
        <p class="h3">Technologies Used :
          <span class="badge badge-success mr-2">Angular</span>
          <span class="badge badge-success mr-2">Mongo DB</span>
          <span class="badge badge-success mr-2">Express JS</span>
          <span class="badge badge-success mr-2">Node JS</span>
        </p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias architecto aut autem blanditiis culpa debitis doloremque eius ex fuga harum id illum impedit iure laboriosam magnam maxime neque odit officia perspiciatis porro quo recusandae rem, temporibus vitae voluptas?</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur eius error facilis ipsa, iusto nostrum numquam officiis quam soluta? Adipisci alias cumque debitis distinctio ducimus esse exercitationem expedita facilis fuga iste laudantium maiores mollitia officiis perferendis qui quia quis quisquam ratione, repellat sequi, similique soluta temporibus vel! Incidunt, provident?</p>
      </div>
    </div>
  </div>
</section>
